################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/ProdTool/v140_64_Debug
/imgui.ini
/bin
