################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/ProdTool/v140_64_Debug
/imgui.ini
/bin
/Debug
/ProdTool.vcxproj.user
/ProdTool.VC.VC.opendb
/ProdTool.VC.db
/.vs/ProdTool/v14/.suo
/.vs/ProdTool/v16/ipch/AutoPCH
/.vs/ProdTool/v16
